<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NextDRIFT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/nextDrift.css">
    </head>

    <body>
        <div class="page-container">
            <section class="headercontainer">
                <div class="titlebox">
                    <a href="/"><span class="maintitle">NextDRIFT</span></a>
                </div>
                <div class="navbuttons">
                    <span class="navlink"><a href="/create-events">Plan Events</a></span><span class="navlink"><a href="/view-events">View Events</a></span><span class="navlink"></div><div class="about"><span class="abouttext"><a href="/">About</a></span>
                </div>
            </section>

            <section class="maincontainer">
                <div class="pagecontent">
                    <span class="create"></span>
                    <div class="eventlocation"></div>
                    <script src="/javascript/event-data"></script>
                </div>
            </section>
        </div>
    </body>
</html>