<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/nextDrift.css">
    </head>

    <body>
        <div class="grid-container">
            <div class="headercontainer">
                <div class="maintitle"><a href="/">NextDRIFT</a></div>
            </div>
            <div class="navbar">
                <div class="navbuttons"><span class="navlink"><a href="/create-events">Create Event</a></span><span class="navlink"><a href="/events">View Events</a></span></div>
            </div>
            <div class="maincontainer">
                <div class="eventpagecontent">
                    <div id="eventContainer"></div>
                </div>
            </div>
        </div>
    </body>

    <footer>
		<script>

			function createEventElement(response, container) {
				var wrapper = document.createElement("div");
				wrapper.classList.add("event");

				var title = document.createElement("h1");
				title.innerHTML = response.name;
				wrapper.appendChild(title);

				var description = document.createElement("p");
				description.innerHTML = response.location;
				wrapper.appendChild(description);

				container.appendChild(wrapper);
			}

			const eventContainer = document.getElementById("eventContainer");

			async function bigFetch() {
                fetch("/api/getAll")
                .then(async (response) => {
                    var events = await response.json();
                    console.log(events)
                    for(var event of events) {
                        createEventElement(event, eventContainer);
                    }
                })
                .catch((e) => {
                    console.error("Could not fetch events", e);
                })
            }

            bigFetch();

		</script>
	</footer>

</html>