<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="page-container">
            <section class="headercontainer">
                <div class="titlebox">
                    <a href="/"><span class="maintitle">NextDRIFT</span></a>
                </div>
                <div class="navbuttons">
                    <span class="navlink"><a href="/create-events">Plan Events</a></span><span class="navlink"><a href="/view-events">View Events</a></span><span class="navlink"></div><div class="about"><span class="abouttext"><a href="/">About</a></span>
                </div>
            </section>

            <section class="maincontainer">
                <div class="pagecontent">
                    <div class="eventpagecontent">
                        <div id="eventContainer"></div>
                        <script src="/javascript/view-event"></script>
                    </div>
                </div>
            </section>

            <section class="footercontainer">
                <div class="footer">
                    <div class="footerflex">
                        <div class="footerbox">
                            <h class="footerheading">Contact</h>
                            <p>jbalouch@outlook.com</p>
                            <p>610-818-9621</p>
                        </div>
                        <div class="footerbox box2pos">
                            <h class="footerheading">Socials</h>
                            <p><a href="https://github.com/zerogblue">Github</a></p>
                            <p><a href="https://www.linkedin.com/in/jbalouch/">Linkedin</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>

</html>