<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/nextDrift.css">
    </head>

    <body>
        <div class="grid-container">
            <div class="headercontainer">
                <div class="maintitle"><a href="/">NextDRIFT</a></div>
            </div>
            <div class="navbar">
                <div class="navbuttons"><span class="navlink"><a href="/create-events">Create Event</a></span><span class="navlink"><a href="/view-events">View Events</a></span></div>
            </div>
            <div class="maincontainer">
                <div class="eventpagecontent">
                    <div id="eventContainer"></div>
                    <script src="/javascript/view-event"></script>
                </div>
            </div>
        </div>
    </body>

    <footer>
		<script>
		</script>
	</footer>

</html>