@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600&family=Work+Sans:wght@200;300;400&display=swap');

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(235, 236, 242);
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

/*Title and header content*/

.maintitle {
    color: rgb(32, 32, 32);
    font-size: 4.5em;
    letter-spacing: -4px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    font-family: 'Frank Ruhl Libre', serif;
}

.titlebox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
}

.navbuttons {
    position: absolute;
    right: 280px;
    top: 40px;
    border-right: 2px solid rgb(32, 32, 32);;
}

.about {
    position: absolute;
    right: 150px;
    top: 40px;
    letter-spacing: -2.2px;
}

.abouttext {
    font-family: 'Frank Ruhl Libre', serif;
    color: rgb(32, 32, 32);
    font-weight: 400;
    font-size: 2.25em; 1.8
    letter-spacing: -2.2px;
}

.navlink {
    font-family: 'Frank Ruhl Libre', serif;
    color: rgb(32, 32, 32);
    font-weight: 400;
    padding-right: 30px;
    font-size: 2.25em;
    letter-spacing: -3px;
}

.eventpagecontent {
    position: absolute;
    top: 17.5%;
    left: 30%;
    text-align: left;
}

.pagecontent {
    height: 860px;
    background-color: rgb(255, 255, 255);
}

.pageforeground {
    
}

/*Hero content*/

.bannerpagecontent {
    background-image: url("/images/hero.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.maintextbox {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
}

.mptext {
    color: white;
    letter-spacing: -3.5px;
    font-family: 'Frank Ruhl Libre', serif;
}

.bannertitle {
    font-size: 85px;
    font-weight: 400;
    margin-bottom: 0;
}

.bannerbody {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 400;
    font-family: 'Frank Ruhl Libre', serif;
}

.findoval {
    margin: auto;
    width: 250px;
    height: 60px;
    background: #ffffff;
    border-radius: 40px;
    text-align: center;
}

.ovaltext {
    font-family: 'Work Sans', sans-serif;
    color: rgb(32, 32, 32);
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 25px;
    position: absolute;
    margin: 1rem 1.60rem;
    display:inline-block;
    position:relative;
}

/*Hero footer*/

.herofooter {
    background-color: rgb(5, 6, 6);
    height: 260px;
}

.hftext {
    color: white;
    letter-spacing: -3.5px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 75px;
    font-weight: 400;
    padding-top: 20px;
}

.hfflexbox {
    text-align: center;
    position: absolute;
    left: 30%;
    display: flex;
    flex-wrap: nowrap;
}

.hfovalpos {
    padding-top: 100px;
    padding-left: 45px;
}

.hfoval {
    width: 250px;
    height: 60px;
    background: #ffffff;
    border-radius: 40px;
    text-align: center;
}

/*Footer*/
.footer {
    height: 200px;
}

.footerflex {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;

}

.footerheading {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.footerbox {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
}

.box2pos{
    margin-left: 50px;
}

.farewell {
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 55%;
}

.bye{
    font-size: 85px;
    font-weight: 400;
    letter-spacing: -3.5px;
    font-family: 'Frank Ruhl Libre', serif;
}

/*Link animation*/

a {
    position: relative;
    padding: 0 0;
}
  
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(18, 18, 18);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

li:nth-child(3) a::after {
    opacity 1;
    transform: scale(0);
    transform-origin: center;
}
  
li:nth-child(3) a:hover::after,
li:nth-child(3) a:focus::after{
    transform: scale(1);
}
  
  